.body-1 {
    margin: 0;
    background: #0f172a;
    min-height: 100vh;
    overflow: hidden;
}

.body-2 {
    margin: 0;
    background: #0f172a;
    min-height: 100vh;
}

.body-3 {
    margin: 0;
    background: black;
    overflow: hidden;
    font-family: monospace;
}

.cake-bg {
  margin: 0;
  height: 100vh;
   background:radial-gradient(circle at top,#2b0a3d,#000);
   overflow: hidden;
}

/* MATRIX */
canvas {
    position: fixed;
    top: 0;
    left: 0;
}

/* COUNTDOWN TEXT */
.text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
    font-size: 80px;
    color: #fff;
    text-shadow: 0 0 20px pink;
    display: none;
    animation: pop 1s ease;
}

@keyframes pop {
    from {transform: scale(0); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}

/* FADE BLACK */
.fade-black {
    animation: fadeBlack 1s forwards;
}
@keyframes fadeBlack {
    to { background: black; }
}

/* ===== CAKE ===== */
.cake {
  position: relative;
  width: 80vw;
  max-width: 360px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 100px;
  animation: cakeIn 1s ease forwards;
}

@keyframes cakeIn {
  from {opacity: 0; transform: scale(0.7);}
  to {opacity: 1; transform: scale(1);}
}

.cake svg {
  width: 100%;
}

/* CANDLE */
.candle{
  position:absolute;
  top:40px;
  left:50%;
  transform:translateX(-50%);
  width:16px;
  height:60px;
  background:repeating-linear-gradient(
    45deg,#ff5a5a,#ff5a5a 6px,#fff 6px,#fff 12px
  );
  border-radius:8px 8px 0 0;
  cursor:pointer;
  z-index:6;
}
.flame{
  position:absolute;
  top:-30px;
  left:50%;
  transform:translateX(-50%);
  width:20px;
  height:32px;
  background:radial-gradient(circle,#fff3a0,#ff9f00,#ff3d00);
  border-radius:50%;
  animation:flicker .12s infinite;
  box-shadow:0 0 30px orange;
}
@keyframes flicker {
  50%{transform:translateX(-50%) scale(.85)}
}

/* FIREWORKS */
.rocket{
  position:absolute;
  width:4px;
  height:20px;
  background:white;
  animation:launch 1.1s linear forwards;
}
@keyframes launch {
  to {transform:translateY(-500px); opacity:0}
}
.spark{
  position:absolute;
  width:8px;
  height:8px;
  border-radius:50%;
  animation:burst 1.4s forwards;
}
@keyframes burst {
  to {
    transform:translate(var(--x),var(--y));
    opacity:0;
  }
}

.hint {
  text-align:center;
  color:#fff;
  margin-top:20px;
}

.kembali {
  display:inline-block;
  margin-top:10px;
  padding:8px 20px;
  background:#d31068;
  color:#fff;
  text-decoration:none;
  border-radius:20px;
}





#loveCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* penting */
    z-index: 9999;
}

.div-h1 {
    display: flex;
    flex-direction: row;
    gap: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.h1-1 {
    text-align: center;
    font-family: 'Great Vibes', cursive;
    color: antiquewhite;
    font-size: 70px;
}

.h1-4 {
    text-align: center;
    font-size: 70px;
    font-family: 'Great Vibes', cursive;
    color: antiquewhite;
}

.foto-kue {
    width: 300px;
    animation: zoom 1s infinite ease-in-out;
}

@keyframes zoom {
    0%   { transform: scale(1);}
    50%  { transform: scale(1.1);}
    100% { transform: scale(1);}
}



@media (max-width: 768px) {
  .foto-kue {
    width: 170px;
    max-width: 300px;
    margin-top: -50px;
  }
  
  .card {
    margin: 20px;
  }

  .div-h1 {
    display: flex;
    flex-direction: column;
  }

  .h1-4 {
    margin-top: -55px;
  }

  .h1-5 {
    margin-top: -60px;
  }

}

.foto {
    width: 250px;
    pointer-events: none;
}

@media (max-width: 768px) {
  .foto {
    width: 110px;
    max-width: 300px;
  }
}

.foto-wrap {
    position: absolute;
    top: 1%;
    animation: pulse 1.8s infinite ease-in-out; 
}

.foto-wrap.kiri {
    left: 20px;
    top: 1%;
    transform:translateY(-50%);
}

.foto-wrap.kiri .foto {
    transform: rotate(-30deg);
}

.foto-wrap.kanan {
    right: 20px;
    top: 1%;
    transform: translateY(-50%);
}

.foto-wrap.kanan .foto {
    transform: rotate(30deg) scaleX(-1);
}

.h1-2 {
    text-align: center;
    font-family: 'Great Vibes', cursive;
    color: antiquewhite;
    font-size: 70px;
    animation: fadeIn 2s ease-in-out;
}

.h1-3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    animation: fadeIn 2s ease-in-out;
}

.h1-5 {
    text-align: center;
    font-family: 'Great Vibes', cursive;
    color: antiquewhite;
    font-size: 70px;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
      opacity: 0; transform: translateY(10px);
    }
    to {
        opacity: 1; transform: translateY(0);
    }
}

.a-1 {
    display: inline-block;
    text-decoration: none;
    color: antiquewhite;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid rgb(227, 161, 172);
    background: palevioletred;
    border-radius: 30px;
    width: 90px;
    transition: transform 0.3s ease;
}

.a-1:hover {
    transform: scale(1.15); 
}


.a-2 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 50px;
}

.a-3 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.a-4 {
    text-decoration: none;
    animation: pulse 0.8s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.h3-1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 25px;
}

.div-2 {
    border: 1.5px solid pink;
    border-radius: 30px;
    width: 400px;
    height: 500px;
}




.nav-video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

video {
    width: 300px;
    display: block;
    margin: 50px auto;
    border-radius: 30px;
    border: 1.5px solid palevioletred;
}

@media (max-width: 768px) {
  video {
    margin: 10px;
    max-width: 92%;
  }

  .card-vid {
    margin: -30px;
  }

  .player {
    margin: -30px;
  }

}

.card-vid {
    border-radius: 15px;
    background: #ffeef3;
    border: 2.5px solid palevioletred; 
    width: 350px;
    box-shadow: 0 8px 24px rgba(90, 0, 45, 0.35);
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
      opacity: 0; transform: translateY(10px);
    }
    to {
        opacity: 1; transform: translateY(0);
    }
}

.a-10 {
   text-decoration: none;
   color: antiquewhite;
}



.title {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}

.driv {
    height: 2px;
    background: #f3b3c5;
    margin-bottom: 10px;
    border-radius: 5px;
}

.card {
    width: 320px;
    padding: 15px;
    border-radius: 15px;
    background: #ffeef3;
    border: 2.5px solid palevioletred;
    box-shadow: 0 8px 24px rgba(90, 0, 45, 0.35);
    z-index: 2;
}


.photo-scroll {
    height: 270px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.photo-scroll img {
    width: 95%;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 2px solid rgb(203, 148, 157);
}

.nav-card {
    display: flex;
    justify-content: center;
    align-items: center;
}




@keyframes floatUp {
    from {
        transform: translateY(0) scale(0.9);
        opacity: 0;
    }
    10% {
        opacity: 0.9;
    }
    to {
        transform: translateY(-120vh) scale(1.15);
        opacity: 0;
    }
}

@keyframes sway {
    0%, 100% {
        margin-left: 0;
    }
    50% {
        margin-left: 12px;
    }
}

@keyframes glow {
    0%, 100% {
        filter: drop-shadow(0 0 6px #ff4d7a);
    }
    50% {
        filter: drop-shadow(0 0 14px #ff6fa1);
    }
}


    

.player {
  background: #ffeef3;
  border: 2.5px solid palevioletred;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  color: #d31068;
  width: 320px; 
  max-width: 360px;
  box-shadow: 0 8px 24px rgba(90, 0, 45, 0.35);
  z-index: 3;
  overflow: hidden;
}


.player-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#audio {
    width: 100%;
    border: 1px solid palevioletred;
    border-radius: 40px;
}

#cover {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.button-playlist {
  background-color: #ec8eb4;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.button-playlist:hover {
  background-color: #d63384;
}

.ul-playlist {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  text-align: left;
  border: 1px solid palevioletred;
  border-radius: 10px;
  margin: 5px;
  padding-left: 10px;
}


.controls {
  padding: 20px;
}

.next {
    text-align: center;
}

.next-1 {
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    color: #ffeef3;
    text-decoration: none;
    border-radius: 30px;
    width: 90px;
    padding: 8px 0;
    background: #d31068;
    margin: 30px;
     transition: transform 0.3s ease;
}

.next-1:hover {
    transform: scale(1.15); 
}


.sparkle-wrap {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
}

.sparkle {
  position: absolute;
  bottom: -60px;
  opacity: 0;
  animation: sparkleFloat linear infinite;
}

.left  { left: 10px; }
.right { right: 10px; }

/* variasi */
.s1  { font-size: 12px; animation-delay: 0s;   animation-duration: 9s; }
.s2  { font-size: 16px; animation-delay: 1.5s; animation-duration: 11s; }
.s3  { font-size: 20px; animation-delay: 3s;   animation-duration: 13s; }
.s4  { font-size: 14px; animation-delay: 4.5s; animation-duration: 10s; }
.s5  { font-size: 18px; animation-delay: 6s;   animation-duration: 12s; }

.s6  { font-size: 13px; animation-delay: 0.8s; animation-duration: 10s; }
.s7  { font-size: 17px; animation-delay: 2.2s; animation-duration: 12s; }
.s8  { font-size: 21px; animation-delay: 3.8s; animation-duration: 14s; }
.s9  { font-size: 15px; animation-delay: 5.5s; animation-duration: 11s; }
.s10 { font-size: 19px; animation-delay: 7s;   animation-duration: 13s; }

@keyframes sparkleFloat {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(0.6);
    opacity: 0;
  }
  15% { opacity: 1; }

  30% {
    transform: translate(12px, -30vh) rotate(90deg) scale(1);
  }
  55% {
    transform: translate(-10px, -60vh) rotate(180deg) scale(1.1);
  }
  80% {
    transform: translate(16px, -90vh) rotate(270deg) scale(1);
  }
  100% {
    transform: translate(-8px, -120vh) rotate(360deg) scale(1.2);
    opacity: 0;
  }
}

